*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --font-subheader: "Gabarito", sans-serif;
  --font-header: "Space Grotesk", sans-serif;
  --secondary-text-color: rgba(47, 48, 60, 0.6);
  --main-text-color: rgb(47, 48, 60);
}

body {
  margin: 0;
  background-color: #e2e2e2;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
